/* Body Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light text for readability */
    line-height: 1.6;
    padding: 20px;
    margin: 0;
}

/* Header Styling */
h1, h2 {
    color:rgb(173, 53, 93); /* Dark pink for headers */
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
}

h3, h4 {
    color: #f48fb1; /* Light pink for nested headers */
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
}

h4 {
    color:rgb(239, 200, 213); /* Light pink for nested headers */
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
}

/* Links Styling */
a {
    color: rgb(173, 53, 93); /* Dark pink links */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #f48fb1; /* Light pink on hover */
    text-decoration: underline;
}

/* Paragraphs */
p {
    color: #e0e0e0; /* Light grey text for readability */
    margin-bottom: 20px;
    font-size: 1.1em;
}